body {
    font-family: Arial, sans-serif;
    background-color: #beb1b1;
}

.container {
    width: 50%;
    margin: 30px auto;
    background-color: #369bff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

h2 {
    background-color: #000dbc;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffebcd;
    padding: 10px;
    border-radius: 4px;
}

label {
    font-weight: bold;
}

input, select, button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #000dbc;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #155cb0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #000dbc;
    color: #fff;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
td{
    background-color: #ffebcd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.delete-btn {
    color: #000dbc;
    cursor: pointer;
    text-decoration: underline;
}